[submodule "shop-back"]
	path = shop-back
	url = ssh://github.com/tractoromorphius/shop-back.git
[submodule "angular-shop"]
	path = angular-shop
	url = ssh://github.com/tractoromorphius/angular-shop.git
